body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #423d3d;
}

input#uquery {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

