<!DOCTYPE html>

<html>

<head>
    <title>Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    
    <hr>
    <div class="contact_form">
        
        <form action="mailto:ahmedm28@mail.montclair.edu" method="post" enctype="text/plain">
            <!--Name input box-->
            <h3>Contact Us</h3>
            <div class="input_box">
                <label>Name</label>
                <input type="text" name="yourName" value=""placeholder="Enter name"><br>
          
                <label>Email</label>
                <input type="email" name="yourEmail" value="" placeholder="Enter email address"><br>
            
                <label>Subject</label>
                <input type="text" name="yourSubject" value="" placeholder="Enter subject topic"><br>
           
                <label>Your Message:</label><br>

                <textarea name="body" rows="10" cols="30"></textarea><br>
                <input type="submit" name="">
            </div>
        </form>
    </div>
</body>

</html>