<!DOCTYPE html>
<html>

<head>
    <title>SmartLib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <div class = "header">
        <nav>
            <a href="contact.html">Support</a>
            <a href="login.html">Login</a>
            <a href="signup.html">Signup</a>
        </nav>
    </div>
    
    <h2>Search</h2>
    <input id="uquery" type="text" name="uquery" size="45">
</body>

</html>