<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>SmartLib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>

    <div class="header">
        <nav class="nav-container">
            <div class="nav-left">
                <a href="{% url 'dash' %}">Dashboard</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        
            <div class="nav-right">
                {% if user.is_authenticated %}
                    <span>Welcome, {{ user.username }} </span>
                    <a href="{% url 'logout' %}" class="btn-header-right">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn-header-left">Login</a>
                    <a href="{% url 'signup' %}" class="btn-header-right">Signup</a>
                {% endif %}
            </div>
        </nav>
        
    </div>

    <h1 class="site-title">📚 SmartLib Digital Library</h1>

    <div class="search-container">
        <form method="GET" action="#">
            <input id="uquery" type="text" name="uquery" size="45" placeholder="Search for books...">
            <select id="filterDropdown" name="filter">
                <option value="all">All</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>

    <div id="search-results"></div>
    <div id="pagination" class="pagination-container"></div>

    <!-- Contact Button -->
    <div id="contact-toggle" title="Contact support" onclick="toggleContactForm()">🗨️</div>

    <!-- Contact Form Popup -->
    <div id="contact-form-popup" class="contact-hidden">
        <form id="contact-form">
            {% csrf_token %}
            <span class="close-btn" onclick="toggleContactForm()"></span>
            <div class="input_box">
                <label>Name</label>
                <input type="text" name="name" placeholder="Enter name" required><br>

                <label>Email</label>
                <input type="email" name="email" placeholder="Enter email address" required><br>

                <label>Subject</label>
                <input type="text" name="subject" placeholder="Enter subject topic" required><br>

                <label>Your Message:</label><br>
                <textarea name="message" rows="5" cols="30" placeholder="Type your message here..." required></textarea><br>

                <input type="submit" value="Send message">
                <p id="form-response" style="margin-top: 10px; font-size: 14px;"></p>
            </div>
        </form>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
