<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>SmartLib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>
    <div class = "header">
        <nav>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            <a href="/dash">Dashboard</a>
            <a href="/contact">Support</a>
        </nav>
    </div>
    
    <h2>Search</h2>
    <!-- Search Container -->
    <div class="search-container">
        <input id="uquery" type="text" name="uquery" size="45" placeholder="Search for books...">
        
        <select id="filterDropdown">
            <option value="all">All</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
        </select>

        <!--Needs JavaScript Implementation-->
        <button onclick="searchBooks()">Search</button>
    </div>
</body>

</html>