<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>
    <div class="form_container">
        <form method="post">
            {% csrf_token %}
            <h3>Sign up</h3>

            {% if form.errors %}
                <ul class="form-errors">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="input_box">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="input_box">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="input_box">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>

            <div class="input_box">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            <div class="input_box">
                {{ form.role.label_tag }}
                {{ form.role }}
            </div>

            <button type="submit">Sign Up</button>
            <p class="sign_up">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </form>
    </div>
</body>

</html>
